$txt: #222
$bg: #F0F0F0
$base: #00CC7F
$primary: #c83737
$blue: #0075CC
$green: #47D800
$secondary: #FFB400
$orange: #FF8100
=border-radius($size)
  border-radius: $size
  -webkit-border-radius: $size
  -moz-border-radius: $size
  -ms-border-radius: $size

=padding($a)
  padding: $a
